# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python virtual environment
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc

# IDE-specific files (PyCharm)
.idea/

# Environment variables
.env

# Temporary files
condaenv.oiho4y2f.requirements.txt